@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.App {
  text-align: center;
  background-color: #F6BE59;
  min-height: 100vh;
  font-family: 'Creepster', cursive;
}

.fontRick {
  font-family: 'Creepster', cursive;
}
